* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.6rem;
    font-size: 1.025rem;
}
body{
    
    display: flex;
    flex-direction: column;
    background: linear-gradient(to right, white, rgb(17, 230, 245));
    margin-bottom: 200px;
}

/*--header--*/

.header {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    -align-items: center;
    background-color: inherit;
    height: 80px;
    width: 100%;
    color: white;
    box-shadow: 0 10px 5px rgba(0, 0, 0, 0.1);

}
.header h1 {
    color: black;
    font-weight: bolder;
    padding: 30px;
}
.header ul, li {
    display: flex;
    gap: 10px;
    
}
.header li a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 100%;
    color: black;
    font-size: large;
    transition: 0.5s;
}
/* .header li a {
    width: 70px;
    height: 100%;
    padding: ;
    background-color: red;
    border-radius: 10px;
    font-size: large;
} */
 .header li a:hover {
    background-color: rgb(59, 207, 248);
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    opacity: 0.8;
    text-decoration: underline red 2px;
 }
 .main {
    display: flex;
    
    gap: 10px;
    padding: 30px;
 }
 .aboutme {
    flex: 7 ;
 }
 .profile-pic {
    width: 200px;
    height: 200px;
    background-color: red;
    border-radius: 100%;
 }