* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.6rem;
    font-size: 1.025rem;
}
body{
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to right, white, rgb(17, 230, 245));
    margin-bottom: 200px;
}
